/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
	font-family: 'Poppins', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#container {
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
  width: 400px;
  height: 750px;
}
	#backgroundImg {
		display: flex;
		justify-content: center;
		align-items: flex-end;
		background-image: url('/src/img/wave.svg');
		background-repeat: no-repeat;
		background-size:cover;
		background-position-x: center;
		background-position-y: 84%;
		height: 20%;
	}
		#formIcon {
			width: 100px;
		}
	
	header {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		flex-direction: column;
		height: 22.5%;
	}
		h1 {
			font-size: 2.15rem;
			font-weight: bold;
			color: #626262;
		}
		#socmedIcons {
			width: 135px;
			display: flex;
			justify-content: space-between;
		}
			#socmedIcons > div {
				display: flex;
				border-radius: 50%;
				padding: 9px;
				width: 40px;
				height: 40px;
				border: 2px solid lightgray;
			}
		h6 {
			color: gray;
			font-size: 14px;
		}
	
	form {
		height: 55%;
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
	}
		input, select {
			color: gray;
			border: none;
			background-color: #EFEFEF;
			width: 70%;
			border-radius: 20px;
			padding: 1rem 1.25rem;
		}
		select {
			width: 80.1%;
		}
		#submitButton {
			box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
			border: none;
			font-size: 15px;
			font-weight: bold;
			letter-spacing: 1px;
			color: white;
			background-color: #9767f8;
			width: 80.1%;
			border-radius: 20px;
			padding: 0.875rem 0.9rem;
		}
		#submitButton:active {
			background-color: #6b26f6;
		}
		h6 > span {
			color: #9767f8;
			font-weight: bold;
		}
	